<div class="background-container">
  <app-layout-item
    [paddingTop]="true"
    [paddingBottom]="true"
  >
    <app-text
      [paddingBottom]="true"
      [text]="'CUSTOMER REVIEWS'"
    >
    </app-text>
    <div class="news-review-container">
      <app-reviews-item
        [title]="'Ron Barton'"
        [text]="'This the most fascinating game for kids and adults. Parents that don\'t understand why their kids are so into this game have to try it themselves. Go on an adventure with your kid! Play survival on difficult level if your child is experienced. Learn to survive in the wild, build a house together, explore, build a city or go spelunking. There\'s so much to do! I play with my husband everyday and sometimes we let kids play in our world but they have to behave.'"
        [image_src]="'https://randomuser.me/api/portraits/men/60.jpg'">
      </app-reviews-item>
      <app-reviews-item
        [title]="'Julissa Bott'"
        [text]="'It\'s the same game, but there are enough differences to justify owning the console version in addition to the PC version. Firstly, split-screen multiplayer. This is probably the biggest plus for the console edition. You can play with up to four players on your console, and those players can enter your game at any point as you\'re playing. '"
        [image_src]="'https://randomuser.me/api/portraits/women/32.jpg'">
      </app-reviews-item>
      <app-reviews-item
        [title]="'John Shelley'"
        [text]="'My daughter (13) has been playing Forgotten Island for years and has become somewhat of a master of the craft, to the point of being asked to be a consultant next year for a Forgotten Island Camp at a local university. She has decided that a career in architecture might be in her future. To those parents that are wondering about this game.'"
        [image_src]="'https://randomuser.me/api/portraits/men/42.jpg'">
      </app-reviews-item>
      <app-reviews-item
        [title]="'Feng Li'"
        [text]="'That world of wonder that started it all for me. I was never much of a sand box type gamer until I fell in love with Forgotten Island. My husband has played with him several times and over the weekend he had a friend over and the 2 of them were able to play together. '"
        [image_src]="'https://randomuser.me/api/portraits/men/26.jpg'">
      </app-reviews-item>
    </div>
  </app-layout-item>
</div>
