<app-static-news
  [title]="'О разработчике'"
  [imageUrl]="'https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/50506344_109656516810231_6116060556517441536_n.jpg?_nc_cat=105&_nc_eui2=AeFxpuioi75F7Tk9ncZbHf0qgVjYtLvU1wky719MwgjoXxqLgtyM761gXD3paNn3Ii-_5kha7SvGVcOakOdhYT3RqYYKuYJFvlRVXySOE-ue3Q&_nc_ht=scontent-frx5-1.xx&oh=1387b75d7604cc2137cc691fc070f325&oe=5D774139'"
>
  <app-list
  [items]="[
    'Имя: Олег',
    'Фамилия: Карпач',
    'Вуз: БГТУ',
    'Факультет: Информационных технологий',
    'Курс: 4-й'
  ]"
  >
  </app-list>
</app-static-news>
