<app-static-news
  [title]="'Руководство пользователя'"
  [imageUrl]="'https://res.cloudinary.com/dsocr550v/image/upload/v1555252731/8_qcc8ji.png'"
>
  <app-list
    [title]="'Управление роботом:'"
    [items]="[
      'Для передвижения используйте клавиши W и S.',
      'Поворот - клавиши A и D.',
      'Прыжок вперед - пробел.',
      'Прыжок в высоту - W + пробел.',
      'Сальто - клавиша K.',
      'Удар - клавиша E.',
      'Бег - Shift + W.',
      'Присесть - Ctrl.',
      'Ходьба в прсяде - Ctrl.'
    ]"
  >
  </app-list>
  <app-list
  [title]="'Работа с инвентарём:'"
  [items]="[
      'Положить предмет яблоко в инвентарь - клавиша 2.',
      'Положить/достать ключ в/из инвентарь - клавиша 1',
      'Положить топливо в инвентарь - клавиша 3.',
      'Поднять руку/бросить предмет - левая кнопка мыши'
    ]"
  >
  </app-list>
</app-static-news>
