$font_size_variable: 14px;
$font_size_secondary_variable: 16px;
$layout_item_max_width: 960px;
$line_height: 1.428;
$animation_time: 1s;
$animation_delay: 0s;


$main_color: #1B635E;
$primary_color: #99CCCB;
$secondary_color: #BAE6E2;
$tertiary_color: #c2efea;
$quaternary_color: #a6dad9;


$main_text_color: white;
$text_color: black;
$primary_text_color: #3C968C;
$secondary_text_color: #86CCC7;
$tertiary_text_color: #c2efea;


$primary_button_color: #32508E;
$secondary_button_color: #55ACEE;
$tertiary_button_color: #DD4B39;
$quaternary_button_color: #AAA;


$main_link_color: #3fadee;
$link_decoration: $main_link_color underline;




















